/* Extra resetting 
--------------------*/

/* Makes all images responsive */

img { 
    max-width: 100%;
    height: auto;
}

/* apply a natural box layout model to all elements, but allowing components to change */

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }




html, body {
    background-color: black;
    font-size: 14px;
    color: #ffffff;
    font-family: 'Open Sans', Arial, sans-serif;
}

.top-header {
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.logo {
    text-align: center;
    margin-top: 150px;
    margin-bottom: 20px;
}


header p {
    font-size: 12px;
}


#select-section {
    font-size: 1.3rem;
}

#choose-section {
    margin-top: 15px;
   
}

.copyright {
    text-align: center;
    margin-top: 180px;
    color: #c2c2c2;
}

.articles {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


@media screen and (min-width: 600px) {

    

}

@media screen and (min-width: 1000px) {

    
}