img { 
    max-width: 100%;
    height: auto;
}

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }


  html, body {
    background-color: $background-color;
    font-size: $font-size;
    color: $font-color;
    font-family: 'Open Sans', Arial, sans-serif;
}